@if (isAddDetail) {
  <app-add-detail [userId]="id" (close)="onCancel()" />
} @else if (isPostDetail) {
  <app-post-detail [userId]="id" (close)="onCancel()" />
}
<section id="user">
  <header>
    <h2>{{ name }}'s Information</h2>
    <menu>
      <button (click)="onPostDetail()">
        Posts
      </button>
      <button (click)="onAddDetail()">
        Add Info
      </button>
    </menu>
  </header>
  <ul>
    @for (detail of selectedUserDetails; track detail.id) {
      <li>
        <app-user-detail [detail]="detail" ></app-user-detail>
      </li>
    }
  </ul>
</section>

