<assessment-header></assessment-header>

<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user (select)="onSelectUser($event)" [user]="user" [selected]="user.id ===  selectedUserId"></app-user>
      </li>
    }
  </ul>
  @if (selectedUser) {
    <app-user-information [id]="selectedUser.id" [name]="selectedUser.name" ></app-user-information>
  } @else {
    <p>Select a user to see their information!</p>
  }

 <!-- this is the legacy way of using ngIf
  <app-user-information
    *ngIf="selectedUser; else fallback" [name]="selectedUser!.name">
  </app-user-information>
  <ng-template #fallback>
    <p id="fallback">fallback info</p>
  </ng-template>-->

</main>
